As of yesterday Addressible broke `travis`

```
System
Ruby:                     Ruby 2.2.3-p173
Operating System:         Ubuntu 14.04
RubyGems:                 RubyGems 2.5.0

CLI
Version:                  1.8.0
Plugins:                  none
Auto-Completion:          yes
Last Version Check:       2015-12-08 13:08:19 -0600

Session
API Endpoint:             https://api.travis-ci.org/
Logged In:                as "envygeeks"
Verify SSL:               yes
Enterprise:               no

Endpoints
org:                      https://api.travis-ci.org/ (access token, current)

Last Exception
An error occurred running `travis encrypt`:
    Addressable::URI::InvalidURIError: Invalid scheme format: git@github.com
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:867:in `scheme='
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:795:in `block in initialize'
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:2302:in `call'
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:2302:in `defer_validation'
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:792:in `initialize'
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:135:in `new'
        from /usr/local/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:135:in `parse'
        from /usr/local/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:75:in `detect_slug'
        from /usr/local/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:60:in `find_slug'
        from /usr/local/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:21:in `setup'
        from /usr/local/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/command.rb:197:in `execute'
        from /usr/local/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli.rb:64:in `run'
        from /usr/local/lib/ruby/gems/2.2.0/gems/travis-1.8.0/bin/travis:18:in `<top (required)>'
        from /usr/local/bin/travis:23:in `load'
        from /usr/local/bin/travis:23:in `<main>'
```

+1 on this. 

```
$ travis report                                                                                                           
System                                                                                                                    
Ruby:                     Ruby 2.2.3-p173                                                                                 
Operating System:         Windows                                                                                         
RubyGems:                 RubyGems 2.4.5.1                                                                                
                                                                                                                          
CLI                                                                                                                       
Version:                  1.8.0                                                                                           
Plugins:                  none                                                                                            
Auto-Completion:          yes                                                                                             
Last Version Check:       never                                                                                           
                                                                                                                          
Session                                                                                                                   
API Endpoint:             https://api.travis-ci.org/                                                                      
Logged In:                as "munkyjunky"                                                                                 
Verify SSL:               yes                                                                                             
Enterprise:               no                                                                                              
                                                                                                                          
Endpoints                                                                                                                 
org:                      https://api.travis-ci.org/ (access token, current)                                              
                                                                                                                          
Last Exception                                                                                                            
An error occurred running `travis encrypt`:                                                                               
    Addressable::URI::InvalidURIError: Invalid scheme format: git@github.com                                              
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:867:in `scheme='             
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:795:in `block in initialize' 
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:2302:in `call'               
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:2302:in `defer_validation'   
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:792:in `initialize'          
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:135:in `new'                 
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/addressable-2.4.0/lib/addressable/uri.rb:135:in `parse'               
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:71:in `detect_slug'       
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:60:in `find_slug'         
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:21:in `setup'             
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli/command.rb:197:in `execute'               
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/travis-1.8.0/lib/travis/cli.rb:64:in `run'                            
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/travis-1.8.0/bin/travis:18:in `<top (required)>'                      
        from C:/Ruby22-x64/bin/travis:23:in `load'                                                                        
        from C:/Ruby22-x64/bin/travis:23:in `<main>'                                                                      
                                                                                                                                                                                        
```

+1, same thing with `travis pubkey` as well as `travis encrypt`. As an FYI, on other versions of Travis in other repos, this doesn't occur. I gem installed travis today on a repo that uses ruby 2.2.3 if that makes a difference.

```bash
System
Ruby:                     Ruby 2.2.3-p173
Operating System:         Mac OS X 10.11.1
RubyGems:                 RubyGems 2.4.5.1

CLI
Version:                  1.8.0
Plugins:                  none
Auto-Completion:          no
Last Version Check:       2015-12-09 15:53:18 -0800

Session
API Endpoint:             https://api.travis-ci.org/
Logged In:                as "rbatta"
Verify SSL:               yes
Enterprise:               no

Endpoints
org:                      https://api.travis-ci.org/ (access token, current)
pro:                      https://api.travis-ci.com/ (access token)

Last Exception
An error occurred running `travis encrypt`:
    Addressable::URI::InvalidURIError: Invalid scheme format: git@github.com
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:867:in `scheme='
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:795:in `block in initialize'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:2302:in `call'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:2302:in `defer_validation'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:792:in `initialize'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:135:in `new'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/addressable-2.4.0/lib/addressable/uri.rb:135:in `parse'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:71:in `detect_slug'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:60:in `find_slug'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/travis-1.8.0/lib/travis/cli/repo_command.rb:21:in `setup'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/travis-1.8.0/lib/travis/cli/command.rb:197:in `execute'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/travis-1.8.0/lib/travis/cli.rb:64:in `run'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/gems/travis-1.8.0/bin/travis:18:in `<top (required)>'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/bin/travis:23:in `load'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/bin/travis:23:in `<main>'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/bin/ruby_executable_hooks:15:in `eval'
        from /Users/rbatta/.rvm/gems/ruby-2.2.3@nirdhost/bin/ruby_executable_hooks:15:in `<main>'
```

Just a heads up for anyone else just downgrade addressable with `gem install -v<version-before-break>`

Yeah installed 2.3.8 and uninstalled 2.4.0 and all is good

:+1:  for the fix.

Thanks for the workaround.
```
gem uninstall  addressable
gem install -v2.3.8 addressable
```

Hmmm. Seems like an upstream issue which should be fixed by https://github.com/sporkmonger/addressable. 

@BanzaiMan after you said what you said I did some tracking down just down and I think you are right, it seems that out of all the changes that were made this one (https://github.com/sporkmonger/addressable/commit/8cc24d9139f6138a48fa1fb068df7bc1e845ec95) from @ptoomey3 is what breaks old behavior as far as I can tell.

And I just confirmed it by reverting that change, so I'm closing this as an upstream issue.

I set a breakpoint in around https://github.com/travis-ci/travis.rb/blob/v1.8.0/lib/travis/cli/repo_command.rb#L69-L71 to take a look at what was being passed to `Addressable`. It looks like the remote for the repo in question looks something like:

```
git@github.com:some_user/some_repo.git
```

So, since this is a scp style URL, it isn't able to be parsed by `Addressable` correctly. As far as I know, `Addressable` is only made for parsing  RFC 3986, RFC 3987, and RFC 6570 style URIs. I'm not sure what RFC (if any) defines SCP style URIs. But, regardless, `Addressable` isn't made to handle them: https://github.com/sporkmonger/addressable/issues/201. 

#349 has a potential fix for this.

@envygeeks workaround worked here too. Thanks.

@sukrit007 thanks bro!

@sukrit007 
thanks, same issue. fixed. :smile: 

I will release 1.8.1 tomorrow. Thanks.

FWIW: that same change in sporkmonger/addressable#205 also introduced a regression issue in `octokit/octokit.rb`, as described in octokit/octokit.rb#727

FYI and FWIW: this is still an issue with the latest version of `addressable`, as documented in https://github.com/octokit/octokit.rb/issues/727#issuecomment-259228024